@import url("https://fonts.googleapis.com/css2?family=Nunito");
* {
  font-family: "Nunito";
  color: #263238;
  cursor: default;
}

html {
  min-height: 100vh;
}

body {
  background-color: #eef4f5;
  background-image: url("./images/body.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  -webkit-transition: all ease-in-out 0ms;
  transition: all ease-in-out 0ms;
}

.App {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  margin: 0;
}

.col-6 {
  width: calc(50% - 10px);
}

* {
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

*:focus {
  outline: none;
}

.unchecked > .checkbox {
  width: 20px;
  height: 20px;
  background-image: url("./images/unchecked.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: fixed;
  background-color: rgba(69, 90, 100, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 100;
  left: 0;
}

.overlay .white-box {
  width: 80%;
  max-width: 600px;
  background: white;
  -webkit-box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
          box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
}

.overlay .white-box .close {
  float: right;
  min-width: 15px;
  margin-top: 5px;
  height: 15px;
  cursor: pointer;
  background-image: url("./images/close.svg");
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay .subtasks .checkbox {
  margin-right: 5px;
}

.overlay .subtasks p {
  margin: 5px 0;
}

.overlay .subtasks .checked p {
  color: rgba(69, 90, 100, 0.81);
}

.overlay form {
  width: 80%;
  max-width: 600px;
  background: white;
  -webkit-box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
          box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
}

.overlay form .close {
  float: right;
  min-width: 15px;
  height: 15px;
  cursor: pointer;
  background-image: url("./images/close.svg");
  background-color: transparent;
  border: none;
  margin-top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay form .labels p {
  display: inline-block;
  padding: 3px 8px;
  background-color: #c3cdd1;
  margin-right: 5px;
  border-radius: 10px;
  margin: 0px 5px 5px 0;
}

.overlay form .labels p .close {
  margin-left: 5px;
  width: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 4px 0px 4px 5px;
}

.overlay form .subtasks p {
  display: block;
  margin-right: 5px;
  border-radius: 10px;
  margin: 0px 5px 5px 0;
}

.overlay form .subtasks p:before {
  content: "";
  width: 17px;
  display: inline-block;
  margin: -3px 5px -3px 0;
  height: 17px;
  background-image: url(/static/media/unchecked.684980bc.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay form .subtasks p .close {
  margin-left: 5px;
  width: 10px;
  margin: 4px 0px 4px 5px;
}

.overlay form textarea {
  max-width: calc(100% - 22px);
  width: calc(100% - 22px);
  min-width: calc(100% - 22px);
  padding: 5px 10px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #eef4f5;
  display: block;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.overlay form textarea:focus {
  border: 1px solid #0097a7;
  background-color: transparent;
}

.overlay form button,
.overlay form input[type="submit"] {
  border: none;
  padding: 5px 15px;
  background: #0097a7;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.overlay form button {
  padding: 3px 10px;
  background: #0097a7;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.overlay form input[type="submit"] {
  display: block;
  margin: 0 auto;
}

.overlay form input[type="date"] {
  display: block;
  height: 34px;
  padding: 0;
  width: calc(100% - 5px);
  margin: 0;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #eef4f5;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.overlay form input[type="date"]:focus {
  border: 1px solid #0097a7;
  background-color: transparent;
}

.overlay form input[type="text"] {
  height: 25px;
  padding: 5px 10px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #eef4f5;
  display: block;
  width: calc(100% - 22px);
  border-radius: 5px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.overlay form input[type="text"]:focus {
  border: 1px solid #0097a7;
  background-color: transparent;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addTask {
  position: fixed;
  border: none;
  right: calc(50vw - 600px + 15px);
  padding: 5px 15px;
  background: #0097a7;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  cursor: pointer;
}

.addTask:hover {
  background: #00a4b5;
}

.addTask:before {
  content: "";
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 7px;
  height: 18px;
  background-image: url(./images/add-white.svg);
}

@media only screen and (max-width: 1230px) {
  .addTask {
    right: 15px;
  }
}

.logo {
  font-size: 36px;
  line-height: 49px;
  display: inline-block;
  color: #0097a7;
}

.logo:before {
  content: "";
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 10px;
  height: 30px;
  background-image: url(./images/Logo.svg);
  display: inline-block;
}

.taskList {
  width: 80%;
  max-width: 450px;
  margin: 80px auto;
}

.taskList > .row {
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
          box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  position: relative;
}

.taskList > .row .checkbox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.taskList > .row > button {
  margin-left: auto;
  width: 33px;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./images/options.svg);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.taskList > .row .name {
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 69px);
  margin: 0 0 0 12px;
  color: #263238;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.taskList > .row .name .date {
  position: absolute;
  right: 0;
  font-size: 12px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(69, 90, 100, 0.81);
}

.taskList > .row .name .date p {
  background-color: white;
  background-color: white;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: rgba(69, 90, 100, 0.81);
  white-space: break-spaces;
  position: static;
  font-size: 12px;
  overflow: hidden;
  padding: 0;
  line-height: 33px;
  width: auto;
}

.taskList > .row .name .date p:before {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./images/clock.svg);
  background-color: transparent;
  margin-right: 5px;
}

.taskList > .row .name .date:before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 252, 252, 0)), to(white));
  background-image: linear-gradient(to right, rgba(252, 252, 252, 0), white);
}

.taskList > .row .options {
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
          box-shadow: 2px 2px 9px rgba(69, 90, 100, 0.81);
  border-radius: 5px;
}

.taskList > .row .options button {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  width: 100%;
  color: #263238;
}

.taskList > .row .options button:nth-of-type(1) {
  border-bottom: 1px solid #d2d7da;
}

.taskList > .row .options button:nth-of-type(2) {
  color: #b71c1c;
}

.checked > .checkbox {
  width: 20px;
  height: 20px;
  background-image: url("./images/checked.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.checked .name {
  color: rgba(69, 90, 100, 0.81) !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.block {
  display: block;
}

.date p {
  color: rgba(69, 90, 100, 0.81);
  margin: 5px 0;
  font-size: 12px;
}

.col-3 {
  min-width: 25%;
  max-width: 25%;
  margin-left: 10px;
}

.col-3 p {
  display: inline-block;
  padding: 3px 8px;
  background-color: #c3cdd1;
  margin: 15px 0 15px 10px;
  border-radius: 10px;
  margin: 0px 5px 5px 0;
}

.right {
  float: right;
}

.right button {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  color: #263238;
}

.right button:nth-of-type(2) {
  color: #b71c1c;
}

.switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
  margin: -4px 5px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 13px;
}

input:checked + .slider {
  background-color: #0097a7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.notes {
  display: block;
  width: 100%;
  padding: 5px;
  background: #eef4f5;
  margin: 0;
  border-radius: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  color: white;
  right: 20px;
}

.blue-text {
  color: #0097a7;
  margin: 10px 0 0px;
  font-weight: normal;
}

form .labels p .close {
  min-width: 7px;
}

.container {
  display: inline-block;
}
/*# sourceMappingURL=App.css.map */